:root {
  --school-bus-yellow: rgba(253, 219, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --air-force-blue: rgba(86, 142, 163, 1);
  --sky-blue: rgba(104, 195, 212, 1);
  --onyx: rgba(49, 54, 56, 1);
}
